
.toto-list-main-container {
  text-align: center;
  width: 70%;
  position: relative;
  left:14%;

  padding-bottom: 30px;
  padding-top: 10px;
}

.todo-list-main-name{
  color:deeppink;
  font-size: 46px;
  font-family: URW Chancery L, cursive
}



.todo-list-form-container{
  width: 60%;
  position: relative;
  left:20%;

  form{
    border: 1px solid lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow:0px 1.4px 0px 0px lightgray;

    input{
      height: 40px;
      width: 70%;
      font-size: 23px;
      border: 1px solid lightgray;
      padding-left: 6px;
      background: #f8f8f8;
      border-radius: 3px;
      font-family: URW Chancery L, cursive

    }
    button{
      position: relative;
      height: 44px;
      top: -3px;
      background-color:white;
      border: 1px solid lightgray;
      font-size:14px;
      cursor:pointer;
      color:gray;
      font-family: URW Chancery L, cursive;
      border-radius: 3px;

    }
  }
}

.todo-list-container{
  width: 60%;
  position: relative;
  left:20%;
  display: none;
  ul{

    width: 100%;
    padding: 0;


    li{
      height: 45px;
      width: 98.5%;

      padding-top: 20px;
      padding-bottom: 20px;

      border: 1px solid lightgray;
      padding-left: 6px;
      margin-top: -1px;



      span{
        margin-left: 6%;
        float: left;
        font-size: 30px;
        font-family: URW Chancery L, cursive
      }
      button{
        width: 30px;
        height: 30px;
        float:right;
        margin-right: 15px;
        padding: 4px;
        font-size:25px;
        color:gray;
        margin-top: -4px;
        cursor:pointer;
        font-family: URW Chancery L, cursive;
        border:none;
        background: none;

      }
    }
  }
}

ul:last-child{
  box-shadow:0px 1.4px 0px 0px lightgray;
}

ul{
  li{
    list-style-type: none;
  }
}
button:active{
  border:none;
  outline: none;
}